<!DOCTYPE html>
<html lang="en">

<head>
  <% var headObj = { cssName:"products",title:"Class101 - Products"} %>
  <%- include('../common/head.ejs',headObj) %>
</head>

<body>
  <% let numWithCommas =(x)=> (x == 0) ? 0 : x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %>
  <div id="App">
    <%- include('../common/header.ejs',{headerName:"Class101 Products"}) %>
    <div class="wrapper">
      <div class="page__wapper" id="pageWapper">
        <h1 class="page__title">Products</h1>
        <form action="" method="POST" id="cartForm">
          <div class="page__row">

            <% sess.productItems.sort((a,b)=> a.score - b.score).forEach((x,y)=>{ %>
            <div class="page__item_box col-lg-2 col-md-4 col-sm-6 col-xs-12">
              <div class="product__card">

                <div class="product__img_box">
                  <img src="<%= sess.productItems[y].coverImage %> " alt="product image" class="product__img">
                </div>

                <div class="product__info_box">
                  <p class="product__title"><%= sess.productItems[y].title %></p>
                  <p class="product__price"><%= numWithCommas(sess.productItems[y].price )%> 원</p>
                </div>

                <div class="product__cart_box">

                  <% if(sess.cart.includes(sess.productItems[y].id)) {%>
                  <label for="<%= sess.productItems[y].id %>" class="product__cart_label active">장바구니에서 빼기</label>
                  <input type="checkbox" name="<%= sess.productItems[y].id %>" id="<%= sess.productItems[y].id %>"
                    data-name="cart" checked>
                  <% } else{ %>
                  <label for="<%= sess.productItems[y].id %>" class="product__cart_label">장바구니에 담기</label>
                  <input type="checkbox" name="<%= sess.productItems[y].id %>" id="<%= sess.productItems[y].id %>">
                  <% } %>
                </div>

              </div>
            </div>
            <% }) %>

          </div>
        </form>
      </div>
    </div>
  </div>


  <% var footObj = { scriptName:"products" } %>
  <%- include('../common/foot.ejs',footObj) %>
</body>

</html>